<a href="https://colab.research.google.com/github/serhii-hryhorenko/python-data-science/blob/master/python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 150
b = 150

print(a == b)
print(a is b)

True
True

Очікувано вони посилаються на один той самий об'єкт в пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [4]:
flag = True

print(isinstance(flag, bool))

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
integer_num = 10
float_num = 3.5

print("Додавання:", integer_num + float_num)
print("Віднімання:", integer_num - float_num)
print("Ділення:", integer_num / float_num)
print("Множення:", integer_num * float_num)
print("Ділення без залишку:", integer_num // float_num)
print("Ділення по модулю:", integer_num % float_num)
print("Приведення до ступеню:", integer_num ** 2)

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [5]:
float_num = 3.5
flag = True

float_to_int = int(float_num)
bool_to_int = int(flag)

print("Перетворення числа з рухомою комою на ціле число:", float_to_int)
print("Перетворення булевого значення на ціле число:", bool_to_int)

Перетворення числа з рухомою комою на ціле число: 3
Перетворення булевого значення на ціле число: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_1 = ""
empty_2 = str()

print(empty_1)
print(empty_2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
string = 'Don\'t worry'
raw_string = r"Don't worry"

print(string)
print(raw_string)

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
name = "Serhii Hryhorenko"
greeting = f"My surname is {surname}"

print(greeting)

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [8]:
string = "My dog is crazy."
spitted_by_whitspace = string.lower().split()

print(spitted_by_whitspace)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list_literal = [1, 2, 3, 4, 5]

range_list = list(range(10))
print("Довжина другого списку:", len(range_list))

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
source = [1, 2, 3]
sublist = [4, 5]

source.append(sublist)

print(source)

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
matrix = [[0, 1, 2], [3, 4, 5]]

print(matrix[0])

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [12]:
random_list = [1.2, True, 3, 4.3, "5.3", 6.3, [], 8.3, 10, {}]
sliced = random_list[2:]

print(sliced)

[3, 4.3, '5.3', 6.3, [], 8.3, 10, {}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [14]:
element_tuple = ("Serhii Hryhorenko")

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Кортеж immutable, список може змінювати свою довжину впродовж виконання програми. Обидві структури дозволяють отримувати елементи за індексом.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [13]:
float_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
reversed_sliced = float_tuple[::-2]

print(reversed_sliced)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [15]:
empty_set = set()

empty_set.add(1)
empty_set.add('hello')
empty_set.add(3.14)

print(empty_set)

{3.14, 1, 'hello'}

 Так, множини є змінним типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [16]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set)

{1, 2, 67, 8, 9}

Множина відкидає дуплікати.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Об'єднання:", union_set)

difference_set = set1.difference(set2)
print("Різниця множин:", difference_set)

intersection_set = set1.intersection(set2)
print("Пересічення:", intersection_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print("Симетрична різниця множин:", symmetric_difference_set)

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [17]:
dictionary = {}

dictionary["key"] = 1
dictionary[1] = 2
dictionary[True] = 3

print(dictionary)

{'key': 1, 1: 3}

Список не може бути ключем у словнику, оскільки ключі повинні бути хешованими об'єктами, і список - нехешований (mutable) тип даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [18]:
my_dict = {
    'level1': {
        'level2': {
            'level3': 'inner value'
        }
    }
}

print(my_dict)
print(my_dict['level1']['level2']['level3'])

inner value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.